.my-btn {
    display: inline-block;
    border-radius: 20px;
    background-color: #1fb8de;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
  }