.my-btn {
    display: inline-block;
    border-radius: 20px;
    background-color: #1fb8de;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
  }

  .my-btn2 {
    display: inline-block;
    border-radius: 20px;
    background-color: #1fb8de;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    bottom: 0;
    right: 0;
    margin: 20px;
  }

  .table-striped{
    font-size: 14.5px;
  }

  .combo{
    padding:10px;
  }

  .quantity{
    padding:10px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }